body{background:#fff url(../ims/header_bg.gif) repeat-x top left; color:#232323;font-size:11px;font-family:'Lucida Grande', Lucida, Tahoma, Trebuchet, Sans-serif;margin:0; padding:0;}
a img{border:0;}
a:link{color:#e64395; text-decoration:none;}
a:visited{color:#e64395; text-decoration:underline;}
a:hover{color:#008aff; text-decoration:underline;}
a:active{color:#e64395; text-decoration:none;}

h1{clear:both; margin:10px 0  0 0; padding:0;}

#contain{margin:0 0 0 15px;}


.setPhoto{float:left; display:block;border:1px solid #cacaca; background-color:#eee; margin:0px 20px 14px 0; padding:5px;}
.setPhoto h2{margin:0; padding:0; font-size:9px;font-weight:normal; color:#999; text-align:left; line-height:12px;clear:both;}
.setPhoto a{float:left; display:block;}
.setPhoto img{margin:0; border:0; width:180px; height:150px; background-color:#222;}

#feature{float:left;}
#bigPhoto{float:left; display:block;border:1px solid #cacaca; background:#eee url(../ims/loadingImage.gif) no-repeat center center; margin:3px 0 10px 10px; padding:5px; min-width:250px; min-height:250px;}
#bigPhoto h2{margin:0; padding:0; font-size:9px;font-weight:normal; color:#999; text-align:left; line-height:12px; clear:both;}
#bigPhoto a{float:left; display:block;}
#bigPhoto img{margin:0; border:0;}

#feature #bigPhotoMeta{margin:5px 15px;float:left; width:500px; clear:both;color:#777;font-size:9px;}
#feature #bigPhotoMetaContainer{display:none; width:500px;}
#feature #bigPhotoMeta ul{margin:5px 0px; padding:0 0 0 15px; list-style:square;}
#feature #bigPhotoMeta li{margin:2px 0;}

#thumbarea{width:230px; float:left;}
h2.thumbhint{font-size:11px; line-height:12px; padding:0; margin:10px 5px 0px; font-weight:normal; width:210px; float:left;}
#thumbs{width:210px; padding:0; float:left; margin:0;position:relative;top:0;}
#mask{width:230px; padding:0; margin:0; clip: rect(0px, 210px, 256px, 0); overflow:hidden; position:relative; top:0px;}

#thumbs img{width:32px; height:32px; border:3px solid #cacaca; margin:4px 3px 0 0;background-color: #222;}
html>body div#thumbs img{margin:3px 3px 0 0;}

#prevwork{position:absolute; top:3px; left:213px;}
#nextwork{position:absolute; top:238px; left:213px;}


h3.tab{font-size:11px; padding:0 4px; line-height:25px; border:1px solid #ccc;border-right-color: #888;background-color:#ccc;margin:15px 0 0; float:left;clear:both;}
#sample{padding:8px; background-color:#ccc; border:1px solid #ccc;float:left;clear:both;border-bottom-color: #888;border-right-color: #888;}